{% extends 'layout.html' %}

{% block title %}Blogs{% endblock %}

{% block content %}
<form action="{{ url_for('action_initialize') }}" method="post">
    <input type="Submit" value="Initialize database">
</form>
<h2>Blogs</h2>
<table class="bloglist">
{% for blog in blogs %}
<tr>
    <td>{{ blog['date'] }}</td>
    <td>
        {% if blog['fullname'] %}
            {{ blog['fullname'] }} ({{ blog['author'] }})
        {% else %}
            {{ blog['author'] }}
        {% endif %}
    </td>
    <td><a href="{{ url_for('show_blog', id=blog['id']) }}">{{ blog['subject'] }}</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
