{% extends 'layout.html' %}

{% block title %}{{ blog['subject'] }}{% endblock %}

{% block content %}
<h2>{{ blog['subject'] }}</h2>

<h4>
    Posted by
    {% if blog['fullname'] %}
        {{ blog['fullname'] }} ({{ blog['author'] }})
    {% else %}
        {{ blog['author'] }}
    {% endif %}
    on {{ blog['date'] }}
</h4>

{% for tag in blog['tags'] %}
<span class="tag">{{ tag }}</span>
{% endfor %}

<p>{{ blog['description'] }}</p>

<h3>Comments</h3>
<div class="comment">
    <form method="POST" action="{{ url_for('action_comment') }}">
        <input type="hidden" name="blogid" value="{{ blog['id'] }}">
        <div><textarea name="description" placeholder="New comment" required></textarea></div>
        <div>
            <select name="sentiment">
                <option value="positive">Positive</option>
                <option value="negative">Negative</option>
            </select>
            <input type="submit" value="Post">
        </div>
    </form>
    {% for comment in blog['comments'] %}
        <div>
            <h4>
                {% if comment['fullname'] %}
                    {{ comment['fullname'] }} ({{ comment['author'] }})
                {% else %}
                    {{ comment['author'] }}
                {% endif %}
                on {{ comment['date'] }} ({{ comment['sentiment'] }})
            </h4>
            <p>{{ comment['description'] }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
