<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Website Title</h1>
                {% if username %}
                    <a href="{{ url_for('show_home') }}"><i class="fas fa-home"></i>Home</a>
                    <!--<a href="{{ url_for('show_home') }}"><i class="fas fa-user-circle"></i>Profile</a>-->
                    <a href="{{ url_for('show_postblog') }}"><i class="fas fa-pen"></i>Post Blog</a>
                    <a href="{{ url_for('action_logout') }}"><i class="fas fa-sign-out-alt"></i>Logout {{ username }}</a>
                {% else %}
                    <a href="{{ url_for('show_login') }}"><i class="fas"></i>Login</a>
                    <a href="{{ url_for('show_register') }}"><i class="fas"></i>Register</a>
                {% endif %}
			</div>
		</nav>
        {% if msg %}
            <div class="msg">{{ msg }}</div>
        {% endif %}
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
