<h2>Question 1</h2>
<form method='POST' action="{{ url_for('show_q1') }}">
    <input type="text" name="user" placeholder="username" autocomplete="off">
    <input type="submit" value="Submit">
</form>
{% if user %}
    <p>Blogs for {{ user }}:</p>
    <table>
    {% for blog in results %}
        <tr>
            <td>{{ blog['date'] }}</td>
            <td>{{ blog['author'] }}</td>
            <td><a href="{{ url_for('show_blog', id=blog['id']) }}">{{ blog['subject'] }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
